<div class="photo-fetcher-app-wrapper">
  <div class="photo-fetcher-header">
    <h1>{{title}}</h1>
  </div>

  <div class="interactive-components">
    <app-slide-toggle-grayscale
      (grayscaleChange)="onGrayscaleChangeHandler($event)">
    </app-slide-toggle-grayscale>
    <app-button-photos-fetcher
      (beforePhotosFetched)="beforePhotosFetchedHandler()"
      (photosFetched)="onPhotosFetchedHandler($event)">
    </app-button-photos-fetcher>
  </div>

  <div class="image-gallery-wrapper">
    <app-image-gallery
      *ngIf="!isLoading"
      [images]="images"
      [ngClass]="{'photos-grayscale': showPhotosInGrayscale === true}">
    </app-image-gallery>
    <mat-spinner
      *ngIf="isLoading && !photosFetcherSvc.errorMessage"
      [diameter]="30">
    </mat-spinner>
    <p *ngIf="photosFetcherSvc.errorMessage">
      {{photosFetcherSvc.errorMessage}}
    </p>
  </div>
</div>
