.photo-fetcher-app-wrapper {
  margin: 0 auto;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .photo-fetcher-header {
    padding-top: 16px;
  }
}
.photos-grayscale {
    filter: grayscale(100%);
}
.interactive-components {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 5px;
}

.image-gallery-wrapper {
  mat-spinner {
    margin: 4em auto 0 auto;
  }
}
